.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-location {
  line-height: 24px;
  margin: 0 0 0 24px;
  padding: 8px 0 5px;
}

.header__add-clothes-btn {
  line-height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  font-weight: 700;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__user-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 25px;
  gap: 20px;
}

.header__profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 100%;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__menu-icon {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu-icon__img {
  display: block;
}

@media (max-width: 820px) {
  .header__user-container {
    display: none;
  }

  .header__menu-icon {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 820px) {
  .header.header--profile {
    flex-direction: row !important;
    align-items: center !important;
    gap: 12px;
  }

  .header__date-location {
    font-size: 16px;
    line-height: 100%;
  }
}

@media screen and (max-width: 626px) {
  .header {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    padding: 18px 0 16px;
  }

  .header__menu-icon {
    position: absolute;
    top: 18px !important;
    right: 0;
  }

  .header__date-location {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .header {
  }
}
