.cards {
  flex-grow: 1;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  grid-auto-rows: 325px;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  align-items: start;
}

.cards__text {
  margin: 40px 0 34px;
}
