.toggle__switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  cursor: pointer;
  overflow: visible;
  position: relative;
}

.toggle__switch:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.toggle__switch-checkbox {
  opacity: 0;
}

.toggle__switch-circle {
  background-color: rgba(0, 0, 0, 1);
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;
  left: -2px;
  top: -2px;
  z-index: 2;
  transition: left 0.8s ease;
}

.toggle__switch-checkbox:checked + .toggle__switch-circle {
  left: 26px;
}

.toggle__switch-label {
  font-size: 14px;
  line-height: 100%;
  position: absolute;
  color: rgba(126, 126, 126, 1);
  top: 8px;
}

.toggle__switch-label-f {
  left: 9px;
  z-index: 5;
}

.toggle__switch-label-c {
  right: 9px;
  z-index: 5;
}
